/*smaller phone viewpoints */
@media only screen and (min-width : 320px) and (max-width : 480px){

  .fullName {
    font-size: 3em !important;
  }
  .fullTitle {
    font-size: 1.8em !important;
    color: green !important;
  }
  .appDescriptionContainer {
    padding: 0px 10px !important;
    margin: 0px !important;
  }
  .appName {
    font-size: 45px !important;
    text-align: center;
  }
  .appTextContainer {
    font-size: 1em !important;
  }
  .demoPhoto{
    margin-top: 20px !important;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  h3 {
    font-size: 1.2em !important;
  }

  #section2 {
    min-height: 140% !important;
  }

  #section3 {
    min-height: 110% !important;
  }

  #section4 {
    min-height: 120% !important;
  }

  #section5 {
    min-height: 100% !important;
  }

  #section6 {
    min-height: 100% !important;
  }

  .aboutMe {
    top: 25px !important;
    text-align: center !important;
  }
  .coopPhotoContainer {
    top: 50px !important
  }
  .coopPhoto{
    border-radius: 5px !important;
    height: auto  !important;
    width: 100% !important;
  }
  .downloadMyResume {
    width: 100% !important;
  }

  .demoButton {
    background-color: $highlight2;
    padding: 5px;
    text-align: center;
    width: 100% !important;
    border-radius: 5px;
    margin:  25px auto;
    transition: .5s;
  }

  .getInTouch{
    font-size: 70px !important;
  }
  .emailMe {
    font-size: 1.2em !important;
  }

}
