$primary-blue: #292F36;
$highlight: #35798C;
$highlight2: #ED254E;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  max-width: 100%;

  font-family: Nunito !important;

}

a:link {color: $highlight2;}
a:active {color: #FFAB05; text-decoration: underline; }
a:visited {color: $highlight2; text-decoration: underline; }
a:hover {color: #FFAB05; text-decoration: none; }

// < -- - -- - Landing - -- - -- >

.landing {
  height: 100%;
  width: 100%;

  background-image: url(../images/landing_bg.svg);
  background-size: cover;

  display: table;

  top: 0;
}
.landingLogoContainer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.fullName{
  font-size: 5em;
  font-family: Nunito !important;
}
.fullTitle{
  font-family: Nunito !important;
  font-weight: 100 !important;
  font-size: 2.5em;
  color: $highlight2;
}
.logoAndName {
  margin: auto;
  max-width: none;
  width: 100%;
  text-align: center;
}
.landingLogo {
  height: 150px;
}





#section2 {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: $primary-blue;
  margin: 0px;
  color: #FFFFFF;
  display: block;
}

#section3{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #FFFFFF;
  margin: 0px;
  color: $primary-blue;
}

#section4 {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: $primary-blue;
  margin: 0px;
  color: #FFFFFF;
}

#section5 {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #FFFFFF;
  margin: 0px;
  color: $primary-blue;
}



.appName {
  font-size: 100px;
}

.highlight {
  color: $highlight;
}

.highlight2 {
  color: $highlight2
}

.scrollDownRow{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.scrollDownButton {
  // position: relative;
  // top: 180px;
  // left: 5px;
  // margin: auto;
  height: 75px;
}

.appDescriptionContainer {
  padding: 0px 50px;
  margin: 0px !important;
}

.appTextContainer {
  font-size: 18px;
}

.demoPhoto{
  margin-top: 42px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.imageContainer {
  max-width: 100%;
  height: auto;
}

.red {
  background-color: red;
}

.madeWith {
  background-color: $highlight2;
  padding: 10px;
  display: inline-block;
  border-radius: 2px;
}

.tech1 {
  background-color: $highlight;
  padding: 10px;
  display: inline-block;
  border-radius: 2px;
  margin: 10px 1px;
}

.techWhiteText{
  color: white;
}



// < -- - -- - Get In Touch - -- - -- >


.getInTouch{
  margin-top: 1.25em;
  font-size: 10em;
  font-weight: bold;
  text-align: right;
  margin-right: 0px;
  line-height: 1em;
}

.emailMe {
  text-align: right;
  vertical-align: bottom;
  margin-right: 0.25em;
  font-size: 2em;
}

.socialMediaIconContainer {
  text-align: right;
}
.socialMediaIcon {
  height: 50px;
  margin: 10px .5em 10px 0px;
}


@import 'scss/mediaQueries/min320.css';
@import 'scss/mediaQueries/min480.css';
@import 'scss/mediaQueries/min768.css';
@import 'scss/mediaQueries/min992.css';
@import 'scss/mediaQueries/min1200.css';
